<%= render 'shared/header' %>

<% if flash[:notice] %>
    <div id="notice" style="color: #D8000C;
    background-color: #FFBABA;">
      <h1><%= flash[:notice] %></h1>
    </div>
<% end %>

<section>

<div class="user">
  <h1><%= @user.name %> </h1>
  <span> <%= @user.email %></span><br><br>
</div>

<button><%= link_to 'Edit', edit_user_path(@user) %></button>
<button><%= link_to "Logout", logout_path %></button>
</section>
